#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

#menu a {
    margin-top: 10px;
    padding: 15px;
    font: 20px arial;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid rgb(2, 196, 119);
    background-color: rgb(2, 196, 119);
    width: 100px;
    display: flex;
    justify-content: center;

}

#menu a:hover {
    color: white;
    border: 1px solid rgb(2, 196, 119);
    background-color: #F5F6FA;
}

#menu a:hover,
#menu a.activ {
    color: rgb(0, 213, 167);
    border: 1px solid rgb(2, 196, 119);
    background-color: #F5F6FA;
}